extend wechat_base

block title
  title 云点歌

block body
  .weui-msg__text-area
    h2.weui-msg__title 云点歌
    p.weui-msg__desc Slow down, relax...
    p.weui-msg__desc We have music, books, coffee, and more...
  .weui-footer
    p.weui-footer__text Copyright © 2016 bookxclub.com
