doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1,user-scalable=0')
    link(rel='stylesheet', href='https://res.wx.qq.com/open/libs/weui/1.0.2/weui.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    block script

    block title
      title bookxclub.com
  body
    block body
      a.weui-btn.weui-btn_primary(href='javascript:;') OK
