extends wechat_base

block title
  title #{title}

block body
  .weui-cells__title 带跳转的列表项
  .weui-cells
    each item in items
      a.weui-cell.weui-cell_access(href='javascript:;')
        .weui-cell__bd
          p #{item}
        .weui-cell__ft
